<ion-grid> 
    <h4 padding-top class="status" [ngClass]="status">{{status}}</h4>

    <ion-row padding-top>
      <ion-col col-1>1</ion-col>
      <ion-col col-11>
          <h6>Salted Egg Chicken Combo</h6>
          <p no-margin>Fusilli</p>
          <p no-margin>More cheese</p>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col col-1>1</ion-col>
      <ion-col col-11>
          <h6>Combo: Double Goodness (Good for …</h6>
          <p no-margin>Minestrone Soup</p>
          <p no-margin>Minestrone Soup</p>
          <p no-margin>Chicken Cheese Salsiccia</p>
          <p no-margin>Prawn Aglio</p>
          <p no-margin>Green Tea</p>
          <p no-margin>Green Tea</p>
      </ion-col>
    </ion-row>

    <ion-row padding-top>
      <ion-col col-1>1</ion-col>
      <ion-col col-11>
          <h6>Sharing Platter</h6>
      </ion-col>
    </ion-row>

  </ion-grid>