<ion-header>
  <ion-navbar>
    <ion-title>Order Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="!hasError">
  <order-summary [customerName]="order?.customerName" [timeRemaining]="order?.timeRemaining"></order-summary>
  <order-details [status]="order?.status"></order-details>

  <ion-grid padding margin-bottom class="status-controls" *ngIf="isVerified != true">
    <h5 no-margin col-12>Enter Secure Pick-up Code</h5>
    <ion-row align-items-center justify-content-between>
      <ion-item col-8>
          <ion-input type="text" placeholder="Pick-up Code"></ion-input>
      </ion-item>
      <button ion-button col-3>Verify</button>
    </ion-row>
  </ion-grid>

  <button ion-button block *ngIf="isVerified">Complete Pickup</button>

</ion-content>

<ion-content>
  <ion-grid class="blank-slate" *ngIf="hasError">
      <ion-row justify-content-center>
          <ion-icon class="icon" name="sad"></ion-icon>
      </ion-row>
      <ion-row justify-content-center>
          <h4 class="blank" no-margin>Error! No order found</h4>
      </ion-row>
  </ion-grid>
</ion-content>