<ion-content padding>
    <button ion-button outline small float-right (click)="minimize()">Later</button>

    <ion-grid class="blank-slate" *ngIf="pendingOrders.length == 0">
        <ion-row justify-content-center>
            <ion-icon class="icon" name="sad"></ion-icon>
        </ion-row>
        <ion-row justify-content-center>
            <h4 class="blank" no-margin>No pending orders</h4>
        </ion-row>
    </ion-grid>



    <div *ngIf="pendingOrders.length > 0">
        <order-summary [customerName]="pendingOrders[0]?.customerName" [price]="pendingOrders[0]?.price"></order-summary>
        <div class="content">
            <order-details class="order-details" [class.submitted]="isAccepted != null" [status]="pendingOrders[0]?.status"></order-details>
            <div class="submission-results" *ngIf="isAccepted && isAccepted != null">
                <ion-icon class="success icon" name="checkmark-circle"></ion-icon>
                <h1 class="success" no-margin>Order Accepted</h1>
            </div>
            <div class="submission-results" *ngIf="!isAccepted && isAccepted != null">
                <ion-icon class="failed icon" name="close-circle"></ion-icon>
                <h1 class="failed" no-margin>Order Rejected</h1>
            </div>
        </div>
    </div>
    
    <ion-grid *ngIf="pendingOrders.length > 0">
        <ion-row>
            <ion-col *ngIf="isAccepted == null" col-9>
                <button ion-button full color="secondary" (click)="acceptOrder(pendingOrders[0]?.id)">ACCEPT</button>
            </ion-col>
            <ion-col *ngIf="isAccepted == null" col-3>
                <button ion-button full color="danger" (click)="rejectOrder()">X</button>
            </ion-col>
            <button ion-button block outline *ngIf="isAccepted != null" (click)="next()">NEXT ORDER</button>
        </ion-row>
    </ion-grid>

</ion-content>
